{% extends "base.html" %}

{% block links %}
{% if isInSession %}
<a class="dashboard-link" href="{{url_for('home')}}">Home</a>
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_tvshows')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="dashboard-link" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="dashboard-link" href="{{url_for('home')}}">Profile</a>
<a class="logout-button dashboard-button" href="{{url_for('logout')}}">Logout</a>
{% endif %}
{% if not isInSession %}
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_tvshows')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="login-button dashboard-button" href="{{url_for('login')}}">Login</a>
<a class="signup-button dashboard-button" href="{{url_for('signup')}}">Signup</a>
{% endif %}
{% endblock %}

{% block body %}
<p>I am a final year computer science student.</p>
{% endblock %}