{% extends "base.html" %}

{% block links %}
{% if isInSession %}
<a class="dashboard-link" href="{{url_for('home')}}">Home</a>
<a class="dashboard-link" href="{{url_for('home')}}">About Us</a>
<a class="dashboard-link" href="{{url_for('home')}}">Profile</a>
<a class="logout-button dashboard-button" href="{{url_for('logout')}}">Logout</a>
{% endif %}
{% endblock %}

{% block body %}
<h1>Find what to watch here!</h1>
<br>
<a href="{{url_for('search_movies')}}">Movies</a>
<a href="{{url_for('search_tvshows')}}">TV Shows</a>
<a href="{{url_for('search_all')}}">Search All</a>
{% endblock %}