<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Page Not Found</title>
</head>
<body>
    <div class="header">
        <div id="homepage-titles">
            <p id="title">WatchWhat</p>
        </div>
        <div id="nav-links">
        </div>
    </div>
    <div id="error404-body">
        <div id="error404">
            <h1>Oops, it appears we have misplaced what you are looking for 😕</h1>
            {% if isInSession %}
            <div>
                <p>
                    Return to the 
                    <a href="{{url_for('home')}}">homepage</a>
                </p>
                <p>
                    Go to your 
                    <a href="{{url_for('dashboard')}}">dashboard</a>
                </p>
            </div>
            {% endif %}
            {% if not isInSession %}
            <div>
                <p>
                Return to the 
                <a href="{{url_for('home')}}">homepage</a>
                </p>
                <p>
                    <a href="{{url_for('login')}}">Login</a>
                    to your account
                </p>
                <p>
                    <a href="{{url_for('signup')}}">Signup</a>
                    to create an account
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>