{% extends "base.html" %}

{% block links %}
{% if logged_in %}
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_tvshows')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="dashboard-link" href="{{url_for('about_me')}}">About Me</a>
<a class="dashboard-link" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="dashboard-link" href="{{url_for('home')}}">Profile</a>
<a class="logout-button dashboard-button" href="{{url_for('logout')}}">Logout</a>
{% endif %}
{% if not logged_in %}
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_tvshows')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="dashboard-link" href="{{url_for('about_me')}}">About Me</a>
<a class="login-button dashboard-button" href="{{url_for('login')}}">Login</a>
<a class="signup-button dashboard-button" href="{{url_for('signup')}}">Signup</a>
{% endif %}
{% endblock %}
{% block body %}
<div id="DUMMY-HOMEPAGE-SECTION-1">
    <h1>Get movie and tv show recommendations</h1>
    <h2>Register for a free account to use our filtering tool</h2>
</div>
<div id="DUMMY-HOMEPAGE-SECTION-2">
    <div class="container DUMMY-CONTAINER-2 homepage-container">
        <h1>Benefits of having a WatchWhat! account</h1>
        <ul>
            <li>
                Track watched movies and shows
                <img src="/static/homepage/notepad.png" alt="">
            </li>
            <li>
                Get personalised recommendations
                <img src="/static/homepage/target.png" alt="">
            </li>
            <li>
                Smart suggestions based on mood
                <img src="/static/homepage/emotion.png" alt="">
            </li>
            <li>
                Sync across devices
                <img src="/static/homepage/sync.png" alt="">
            </li>
            <li>
                Rate and review content
                <img src="/static/homepage/rate.png" alt="">
            </li>
            <li>
                Get alerts for new releases
                <img src="/static/homepage/active.png" alt="">
            </li>
        </ul>
    </div>
    <div class="container DUMMY-CONTAINER-3">
        <div class="container DUMMY-CONTAINER-4">
            <p>
                <a href="{{url_for('signup')}}">Signup</a>
                now to create a free account and find amazing movies and tv shows to watch!
            </p>
        </div>
        <div class="container DUMMY-CONTAINER-5">
            <p>
                Or
                <a href="{{url_for('login')}}">Login</a>
                to an existing account
            </p>    
        </div>
    </div>
</div>
{% endblock %}