{% extends "base.html" %}

{% block links %}
{% if isInSession %}
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_tvshows')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="dashboard-link" href="{{url_for('about_me')}}">About Me</a>
<a class="dashboard-link" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="dashboard-link" href="{{url_for('home')}}">Profile</a>
<a class="logout-button dashboard-button" href="{{url_for('logout')}}">Logout</a>
{% endif %}
{% if not isInSession %}
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_tvshows')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="dashboard-link" href="{{url_for('about_me')}}">About Me</a>
<a class="login-button dashboard-button" href="{{url_for('login')}}">Login</a>
<a class="signup-button dashboard-button" href="{{url_for('signup')}}">Signup</a>
{% endif %}
{% endblock %}
{% block body %}
<div id="DUMMY-HOMEPAGE-SECTION-1">
    <div class="container DUMMY-CONTAINER-1 homepage-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus ultricies varius.
            Vivamus nec turpis vel tellus imperdiet efficitur non vitae nulla. Maecenas dignissim egestas magna,
            ut hendrerit mi egestas quis. In a accumsan mi. Etiam volutpat felis non venenatis maximus. Curabitur
            lorem justo, hendrerit ut nisi sit amet, facilisis maximus lacus. Mauris placerat mollis vehicula.
            Nullam porttitor ipsum sagittis, pulvinar ex id, malesuada erat. Sed ullamcorper, metus vel condimentum
            faucibus, purus enim vehicula massa, eu lacinia odio sem at nisi. Morbi malesuada nibh dapibus nibh
            consequat, ut viverra tortor pharetra. Phasellus in eros neque.

            Sed vestibulum magna sed dui venenatis tristique nec fringilla risus. Duis at magna porta, bibendum ex
            vitae, mattis justo. Fusce congue ac metus at luctus. Fusce mollis id erat at fermentum. Quisque augue
            leo, cursus vel fringilla ac, mollis ut nunc. Maecenas ullamcorper velit quis arcu pellentesque, sit
            amet scelerisque felis congue. Ut consequat euismod ipsum, at finibus erat blandit eu. Suspendisse potenti.

            Sed lacinia, felis non placerat varius, risus sapien convallis ex, id egestas sapien sapien ac eros.
            Aliquam gravida justo et est dignissim congue. Aenean sagittis urna nec ligula suscipit, vitae accumsan
            tortor tempus. In vel leo posuere est euismod viverra. Vestibulum lectus ex, tincidunt vitae odio eu,
            tincidunt mollis ipsum. Duis non ante a justo pellentesque lacinia quis vel dui. Phasellus egestas lectus
            vel euismod fringilla. Praesent aliquet ex sed nibh dictum congue. Maecenas ultricies elit erat, vel
            consectetur ante finibus ut. Aenean molestie ut lectus sit amet blandit. Aliquam ut sagittis sapien, ac
            blandit mi. Nunc dignissim laoreet dui. Pellentesque consectetur urna in volutpat laoreet. Vestibulum a
            cursus dui.

            Etiam at luctus augue. Ut pulvinar vulputate mattis. Quisque sed ultricies risus. Aliquam consectetur
            vehicula dolor, in consequat turpis porttitor non. Nunc ac lacus imperdiet, bibendum mi id, accumsan
            enim. Pellentesque vel commodo nisi, eget posuere purus. Phasellus porta diam metus, vitae mollis sem
            scelerisque sit amet. Curabitur facilisis enim feugiat scelerisque finibus. Quisque porta tristique mi
            non blandit. Suspendisse volutpat lectus nulla, id elementum mauris pellentesque non. Sed ullamcorper
            mi ac posuere ullamcorper. Donec eu ultricies mauris, auctor semper odio. Vivamus interdum venenatis
            dolor, vel iaculis sapien imperdiet nec. Phasellus ac nisl dui. Pellentesque feugiat arcu ut mi
            ullamcorper pulvinar.

            Ut quis urna nibh. Nullam consectetur ante ac enim feugiat, nec hendrerit mi pellentesque. Integer
            interdum, velit vel convallis dignissim, mi lorem ullamcorper nisi, quis luctus ipsum arcu vel enim.
            In tincidunt orci et augue malesuada fringilla. Pellentesque ut justo vel metus aliquet suscipit eu in
            magna. Suspendisse a neque vitae dolor convallis fermentum. Suspendisse congue leo urna.
        </p>
    </div>
</div>
<div id="DUMMY-HOMEPAGE-SECTION-2">
    <div class="container DUMMY-CONTAINER-2 homepage-container">
        <h1>Benefits of having an account</h1>
        <ul>
            <li>Track watched movies and shows</li>
            <li>Get personalised recommendations</li>
            <li>Smart suggestions based on mood</li>
            <li>Sync across devices</li>
            <li>Rate and review content</li>
            <li>Get alerts for new releases</li>
        </ul>
    </div>
    <div class="container DUMMY-CONTAINER-3 homepage-container">
        <div class="container DUMMY-CONTAINER-4">
            <p>
                <a href="{{url_for('signup')}}">Signup</a>
                now to create a free account and find amazing movies and tv shows to watch!
            </p>
        </div>
        <div class="container DUMMY-CONTAINER-5">
            <p>
                Or
                <a href="{{url_for('login')}}">Login</a>
                to an existing account
            </p>    
        </div>
    </div>
</div>
{% endblock %}