{% extends "base.html" %}

{% block pagename %}
<p class="pagename">{{pagename}}</p>
{% endblock %}

{% block links %}
<a class="dashboard-link" href="{{url_for('home')}}">Home</a>
<a class="dashboard-link" href="{{url_for('home')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('home')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('home')}}">About Us</a>
<a class="signup-button dashboard-button" href="{{url_for('signup')}}">Signup</a>
{% endblock %}

{% block body %}
<div id="login-section" class="container form-flexbox">
        <h1>Log into your account to access your dashboard</h1>
        {% if error %}
        <p id="login-error" class="error">{{error}}</p>
        {% endif %}
        <form id="login-form" class="form" action="{{url_for('login')}}" method="post">
                <input type="text" name="username" placeholder="Username" id="username-login-field" class="input-field">
                <input type="password" name="password" placeholder="Password" id="password-login-field" class="input-field">
                <div class="show-password-container">
                        <input type="checkbox" onclick="togglePassword()" id="toggle-password" class="toggle-password">
                        <label class="toggle-password-label" for="toggle-password">Show Password</label>
                </div>
                <input type="submit" value="Login" id="login-button" class="form-button">
        </form>
</div>
<script>
        function togglePassword() {
                isChecked = document.getElementById("toggle-password").checked;
                passwordField = document.getElementById("password-login-field");

                if (isChecked) {
                        passwordField.type = "text";
                } else {
                        passwordField.type = "password";
                }
        }

        document.getElementById("login-form").addEventListener("submit", function(event) {
                let username = document.getElementById("username-login-field").value;
                let password = document.getElementById("password-login-field").value;

                if (username === "" && password === "") {
                        window.alert("Please enter a username and password!");
                        event.preventDefault()
                } else if (username === "") {
                        window.alert("Please enter a username!");
                        event.preventDefault()
                } else if (password === "") {
                        window.alert("Please enter a password!");
                        event.preventDefault()
                }
        });
</script>
{% endblock %}