{% extends "base.html" %}

{% block pagename %}
<p class="pagename">{{pagename}}</p>
{% endblock %}

{% block links %}
<a class="dashboard-link" href="{{url_for('home')}}">Home</a>
<a class="dashboard-link" href="{{url_for('home')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('home')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('home')}}">About Us</a>
<a class="login-button dashboard-button" href="{{url_for('login')}}">Login</a>
{% endblock %}

{% block body %}
<div id="signup-section" class="container form-flexbox">
        <h1>Register to create your free account</h1>
        {% if error %}
        <p id="signup-error" class="error">{{error}}</p>
        {% endif %}
        <form id="signup-form" class="form" action="{{url_for('signup')}}" method="post">
                <input type="text" name="username" value="" placeholder="Username" id="username-signup-field" class="input-field">
                <input type="password" name="password" value="" placeholder="Password" id="password-signup-field" class="input-field">
                <div class="show-password-container">
                        <input type="checkbox" onclick="togglePassword()" id="toggle-password">
                        <label class="toggle-password-label" for="toggle-password">Show Password</label>
                </div>
                <input type="submit" value="Sign Up" id="signup-button" class="button">
        </form>
</div>
<script>
        function togglePassword() {
                isChecked = document.getElementById("toggle-password").checked;
                passwordField = document.getElementById("password-signup-field");

                if (isChecked) {
                        passwordField.type = "text";
                } else {
                        passwordField.type = "password";
                }
        }

        document.getElementById("signup-form").addEventListener("submit", function(event) {
                let username = document.getElementById("username-signup-field").value;
                let password = document.getElementById("password-signup-field").value;

                if (username === "" && password === "") {
                        window.alert("Please enter a username and password!");
                        event.preventDefault()
                } else if (username === "") {
                        window.alert("Please enter a username!");
                        event.preventDefault()
                } else if (password === "") {
                        window.alert("Please enter a password!");
                        event.preventDefault()
                }
        });
</script>
{% endblock %}