{% extends "base.html" %}

{% block links %}
<a class="dashboard-link" href="{{url_for('home')}}">Home</a>
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_tvshows')}}">TV Shows</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="dashboard-link" href="{{url_for('about_me')}}">About Me</a>
<a class="login-button dashboard-button" href="{{url_for('login')}}">Login</a>
{% endblock %}

{% block body %}
<div class="login-signup">
        <div id="signup-section" class="container form-flexbox">
                <h1>Register to create your free account</h1>
                {% if error %}
                <p id="signup-error" class="error">{{error}}</p>
                {% endif %}
                <form id="signup-form" class="form" action="{{url_for('signup')}}" method="post">
                        <input type="text" name="username" value="" placeholder="Username" id="username-signup-field" class="input-field">
                        <input type="password" name="password" value="" placeholder="Password" id="password-signup-field" class="input-field">
                        <div class="show-password-container">
                                <input type="checkbox" onclick="togglePassword()" id="toggle-password" class="toggle-password">
                                <label class="toggle-password-label" for="toggle-password">Show Password</label>
                        </div>
                        <input type="submit" value="Sign Up" id="signup-button" class="form-button">
                </form>
        </div>
</div>
<script>
        function togglePassword() {
                isChecked = document.getElementById("toggle-password").checked;
                passwordField = document.getElementById("password-signup-field");

                if (isChecked) {
                        passwordField.type = "text";
                } else {
                        passwordField.type = "password";
                }
        }

        document.getElementById("signup-form").addEventListener("submit", function(event) {
                let username = document.getElementById("").value;
                let password = document.getElementById("password-signup-field").value;

                if (username === "" && password === "") {
                        window.alert("Please enter a username and password!");
                        event.preventDefault()
                } else if (username === "") {
                        window.alert("Please enter a username!");
                        event.preventDefault()
                } else if (password === "") {
                        window.alert("Please enter a password!");
                        event.preventDefault()
                }
        });
</script>
{% endblock %}