{% extends "base.html" %}

{% block links %}
<a class="dashboard-link" href="{{url_for('home')}}">Home</a>
<a class="dashboard-link" href="{{url_for('search_movies')}}">Movies</a>
<a class="dashboard-link" href="{{url_for('search_all')}}">Search All</a>
<a class="dashboard-link" href="{{url_for('about_me')}}">About Me</a>
<a class="dashboard-link" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="dashboard-link" href="{{url_for('home')}}">Profile</a>
<a class="logout-button dashboard-button" href="{{url_for('logout')}}">Logout</a>
{% endblock %}

{% block body %}
<div>
    <h1>Can't decide which tv show to watch?</h1>
    <h1>We know what it's like spending more time trying to find something to watch rather than actually watching 
        - we've got your back.
    </h1>
    <br>
    <p>Use our tool to get a tv show recommendation based on your applied filters!</p>
</div>
<div>
    <form action="{{url_for('search_tvshows')}}" method="post">
        <label for="genre-input">Genre</label>
        <select name="genre" id="genre-input">
            <option value=""></option>
            <option value="10759">Action & Adventure</option>
            <option value="16">Animation</option>
            <option value="35">Comedy</option>
            <option value="80">Crime</option>
            <option value="99">Documentary</option>
            <option value="18">Drama</option>
            <option value="10751">Family</option>
            <option value="10762">Kids</option>
            <option value="9648">Mystery</option>
            <option value="10763">News</option>
            <option value="10764">Reality</option>
            <option value="10765">Sci-fi and Fantasy</option>
            <option value="10766">Soap</option>
            <option value="10767">Talk</option>
            <option value="10768">War and Politics</option>
            <option value="10766">Soap</option>
            <option value="37">Western</option>
        </select>
        <label for="runtime-input">Runtime</label>
        <select name="runtime_lte" id="runtime-input">
            <option value=""></option>
            <option value="30">30 Minutes</option>
            <option value="60">1 Hour</option>
            <option value="90">1 Hour 30 Minutes</option>
            <option value="120">2 Hours</option>
            <option value="150">2 Hours 30 Minutes</option>
            <option value="180">3 Hours</option>
            <option value="210">3 Hours 30 Minutes</option>
        </select>
        <label for="original-language-input">Original Language</label>
        <select name="original_language" id="original-language-input">
            <option value=""></option>
            <option value="en">English</option>
            <option value="hi">Hindi</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
            <option value="zh">Chinese</option>
            <option value="ru">Russian</option>
            <option value="ar">Arabic</option>
            <option value="pt">Portuguese</option>
            <option value="it">Italian</option>
            <option value="tr">Turkish</option>
        </select>
        <label for="first-air-date-year-input">Release Year</label>
        <select name="first_air_date_year" id="first-air-date-year-input">
            <option value=""></option>
        </select>
        <input type="submit" value="Find">
    </form>
</div>
<div>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <h2>Tv Show Recommendation</h2>
        <p>{{ title }}</p>
        {% if poster_url_path %}
            <img src="https://image.tmdb.org/t/p/w154{{ poster_url_path }}" alt="Poster for '{{ title }}'">
        {% endif %}
    {% endif %}
</div>
<script>

    var select = document.getElementById("first-air-date-year-input");
    for (var i = 2030; i >= 1950; i--) {
        var option = document.createElement("OPTION");
        select.options.add(option)
        option.text = i;
        option.value = i;
    }
</script>
{% endblock %}